nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link {
  font-weight: 600;
  color: #1f1f1fb3;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 8px;
  transition: color 250ms linear, background-color 250ms linear;
}

.link:hover {
  color: #fff;
  background-color: #333;
}

.link.active {
  color: #4dd0e1;
  background-color: rgba(77, 208, 225, 0.1);
}
